[data-theme="light"]{
    --theme-bg: #EFF0F8;
    --theme-radio:#ffffff;

}
[data-theme="dark"]{
    --theme-bg: #323232;
    --theme-radio: #0F0F0F;
}

.themeButton{
    border-radius: 20px;
    padding: 3px;
}
.themeButton__inner{
    display: flex;
    align-items: center;
}
.themeButton__item{
    color: var(--text);
    border-radius: 20px;
    padding: 6px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    cursor: pointer;
}
.themeButton__label{
    border-radius: 20px;
    background: var(--theme-bg);
}
.active{
    color: var(--main-text);
    background: var(--theme-radio);
    max-width: 64px;
    transition: ease-in-out .3s;
}
.themeButton__input{
    display: none;
}
.themeButton__title{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 12px;
}
.title__extra{
    width: 28px;
    align-items: center;
    margin-left: 5px;
    font-style: normal;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    user-select: none;
}
.extra{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}