.themeButton{
    background: var(--cardbg);
    border-radius: 20px;
    padding: 3px;
}
.themeButton__inner{
    display: flex;
    align-items: center;
}
.themeButton__item{
    color: var(--text);
    border-radius: 20px;
    padding: 5px 8px;
    max-height: 26px;
    display: flex;
    flex-direction: row;

    cursor: pointer;
}
.themeButton__title{
    margin-left: 5px;
}

.active{
    background: var(--cardbg);
    color: var(--main-text);
}
.themeButton__input{
    display: none;
}
