.switch {
    border-radius: 20px;
    position: relative;
    display: inline-block;
    width: 40px;
    height: 22px;
    box-shadow: 0px 2px 8px var(--shadow-color);
}

.checkbox{
    opacity: 0;
    width: 0;
    height: 0;
    display: none;
}

.slider {
    position: absolute;
    cursor: pointer;
    border-radius: 16px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: var(--theme-bg);
    transition: 0.4s;
}

.slider:before{
    position: absolute;
    content: '';
    height: 16px;
    width: 16px;
    border-radius: 16px;
    left: 3px;
    bottom: 3px;
    background-color: #fff;
    transition: 0.4s;
    
}

.checkbox:checked +.slider {
    background: var(--main-green);
}

.checkbox:checked + .slider:before{
    transform: translateX(18px);
}

.toggleArrow{
    position: relative;
    display: inline-block;
}

.checkbox + div i {
    color: var(--main-text)
}
.checkbox + div i:before{
    transition: transform 0.4s;
}
.checkbox:checked + div i:before {
    transform: rotate(180deg);
}

.toggleArrow div > :not(:first-child) {
    padding-left: 10px;
}

.toggleArrow span {
    color: var(--main-text);
    transition: color 0.4s;
}

.toggleArrow span.active {
    color: var(--main-green);
}