[data-theme="light"]{
    --btn-color: #F3F4F6;
}
[data-theme="dark"]{
    --btn-color: #333333;
}
.monthPickerWrapper{
    display: flex;
    max-width: 320px;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
.monthPicker {
    display: flex;
    min-width: 270px;
    composes: cardComponent from "@styles/style.css";
}
.wrapper{
    min-width: 320px;
    padding: 18px 30px;
    gap: 6px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.ToggleSide{
    color: var(--main-text);
    display: flex;
    gap: 10px;
}
.btn{
    display: flex;
    background-color: var(--btn-color);
    border-radius: 4px;
    padding: 6px 6px;
    align-items: center;
    cursor: pointer;
}
.btn i{
    font-size: 12px;
    height: 12px;
    -webkit-text-stroke: 1.5px;
    color: #858585;
}
.btn:hover i {
    color: var(--main-green)
}
.btn:active {
    background-color: var(--background);
}

.title{
    cursor: pointer;
    width: 100%;
    font-weight: 700;
    font-size: 18px;
    line-height: 24px;
    color: var(--main-text);
    align-items: center;
    text-align: center;
    min-width: 128px;
    user-select: none;
    padding: 0px 4px;
}
.RangeDatePicker{
    display: flex;
    width: 100%;
    border-radius: 10px;
}
.RangeDatePicker:hover{
    transition: all .3s ease;
    background-color: var(--main-green-50);
}
@media only screen and (max-width: 768px) {
    .monthPickerWrapper{
        width: 100%;
        max-width: 100%;
        flex-direction: column;
        gap: 8px;
        align-items: flex-start;
    }
    .monthPicker {
        max-width: unset;
        min-width: unset;
        width: 100%;
        display: block;
    }
    .wrapper {
        min-width: unset;
    }
}
