.CategoriesCard{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    gap: 16px;
    overflow: hidden;
    composes: cardComponent from "@styles/style.css";
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.CategoriesCard:hover{
    box-shadow: rgba(0, 0, 0, 0.22) 0px 7px 7px;
    transform: translate3d(1px, -2px, 0px);
    cursor: pointer;
}

.CategoriesCard .tooltip{
    width: 4px;
    height: 100%;
}
.CategoriesCardBody{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.CategoriesCard .IconMix{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.CategoriesCard .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-text);
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(-20px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}