.CategoriesCard{
    display: flex;
    flex-direction: row;
    height: 60px;
    width: 100%;
    border-radius: 5px;
    gap: 16px;
    overflow: hidden;
    composes: cardComponent from "@styles/style.css";
}
.CategoriesCard .tooltip{
    width: 4px;
    height: 100%;
}
.CategoriesCardBody{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}
.CategoriesCard .IconMix{
    width: 40px;
    height: 40px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}
.CategoriesCard .title{
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: var(--main-text);
}