.StatusTooltip{
    min-width: 260px;
    max-width: 520px;
    height: 60px;
    position: fixed;
    top: 100px;
    right: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    overflow: hidden;
    z-index: 9999;
    composes: cardComponent from "@styles/style.css";
}
.upSide{
    display: flex;
    margin-top: 18px;
    margin-left: 16px;
    gap: 10px;
}
.iconTooltip{
    font-size: 24px;
    font-weight: 700;
}
.text{
    padding-top: 2px;
    color: var(--main-text);
    composes: mediumItemTitle from "@styles/style.css"
}
.timerLine{
    width: 100%;
    height: 4px;
    margin-top: auto;
    opacity: 0;
    background-color: var(--main-green);
    animation: expiration 5s;
}
@keyframes expiration {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(-100%);
        opacity: 1;
    }
}
.slideIn{
    animation: slideIn 1s;
}
.slideOut{
    animation: slideOut 1s;
}

@keyframes slideIn {
    0% {
        transform: translateX(+100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}
@keyframes slideOut {
    0% {
        transform: translateX(0px);
        opacity: 1;
    }
    100% {
        transform: translateX(+100%);
        opacity: 0;
    }
}

