.burgernav{
    height: 100%;
    overflow: scroll;
    padding: 24px 0px;
    z-index: 1001;
    background-color: var(--cardbg);
}
.burgernav::-webkit-scrollbar{
    display: none;
}
.logo{
    user-select: none;
    cursor: pointer;
}
.burgernav__title{
    margin: 0px 12px;
    display: flex;
    align-items: center;
    font-weight: 700;
    user-select: none;
    cursor: pointer;
    color: var(--main-text);
}
.burgernav__titleLink{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    user-select: none;
}
.burgernav__title .title{
    margin-left: auto;
    margin-right: auto;
    font-size: 24px;
    display: inline-block;
    color: var(--main-text);
}

.burgernav__title .title__span {
    font-size: 24px;
    color: var(--main-green);
}

.burgernav__account{
    margin-left: 45px;
    margin-top: 26px;
    margin-right: auto;
    display: flex;
    align-items: center;
}
.account__info{
    /* display:  */
    margin-left: 15px;
}
.burgernav__account .title{
    font-weight: 700;
    font-size: 16px;
    color: var(--main-text);
}
.balance {
    font-size: 17px;
    line-height: 22px;
    font-weight: 500;
    color: var(--main-green)
}
.red {
    color: var(--main-red);
}

.green {
    color: var(--main-green);
}
.burgernav__line{
    height: 0px;
    margin: 16px 20px 0px;
    border-bottom: 1px solid #EEEEEE
}

.burgernav__list{
    margin-top: 24px;
}
.item{
    display: flex;
    height: 50px;
    padding: 0px 0px 0px 24px;
    text-align: center;
    align-items: center;
    color: var(--text);
}
.groupItem{
    display: flex;
    height: 20px;
    padding: 0px 0px 0px 24px;
    text-align: center;
    align-items: center;
    color: var(--text);
}

.title{
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
}
.activeLink{   
    color: var(--main-green);
    transition: .3s ease-in-out;
}
.activeLink svg path{
    fill: var(--main-green);
    transition: .3s ease-in-out;
}
.activeLink::after{
    display: flex;
    content: ' ';
    position: relative;
    height: 40px;
    width: 5px;
    margin-left: auto;
    background-color: var(--main-green);
    animation: activeLinkAfterAnimation .3s ease-in-out;
}
.shadowLink{
    text-shadow: 0px 0px 8px var(--main-green);
}

@keyframes activeLinkAfterAnimation {
    from {
        height: 2px;
        opacity: 0;
    }
    to {
        height: 40px;
        opacity: 1;
    }
}

.burgerIcon{
    display: flex;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.burgerIcon path {
    fill: var(--text);
}
.burgerIcon i {
    font-size: 16px;
}
.burgernav__list .title{
    margin-left: 14px;
}


.burgernav__list .inc{
    padding: 2px 10px;
    margin-top: auto;
    margin-right: 10px;
    margin-bottom: auto;
    font-weight: 700;
    display: flex;
    justify-content: center;
    background-color: #7a7a9d17;
    margin-left: auto;
    border-radius: 20px;
    color: var(--main-green);
    text-shadow: 0px 0px 8px var(--main-green);
    -webkit-animation: ping 1s ease-in-out infinite both;
	        animation: ping 1s ease-in-out infinite both;
}

.burgernav__groups{
    margin-top: 24px;
}
.burgernav__groups .groupTitle{
    margin-left: 24px;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--text);
}

.burgernav__groups .list{
    margin-top: 24px;

}
.burgernav__groups .item{
    padding: 3px 24px;
}
.burgernav__groups .title{
    margin-left: 10px;
    font-weight: 500;
    font-size: 12px;
    line-height: 12px;
    color: var(--text)
}
.burgernav__groups .list li:not(:first-child){
    margin-top: 24px;
}

.buttons{
    margin-top: 56px;
    display: flex;
    gap: 20px;
    flex-direction: column;
    align-items: center;
}
.burgernav__downside{
    padding-top: 16px;
    color: var(--main-text);
}

.burgernav__downside .title {
    margin-left: 20px;
    font-weight: 600;
    font-size: 14px;
    line-height: 18px;
}

@-webkit-keyframes ping {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.);
              transform: scale(1.);
      opacity: 0.9;
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1;
    }
  }
  @keyframes ping {
    0% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1;
      }
      50% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.9;
      }
      100% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1;
      }
}
  

  