.group {
    composes: cardComponent from '@styles/style.css';
    transition: all 0.3s ease;
    
}
.wrapper{
    position: relative;
}

.group:hover{
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 15px;
    transform: translate3d(1px, -2px, 0px);
    cursor: pointer;
}

.title{
    composes: cardTitle from '@styles/style.css';
    border-bottom: var(--text) 1px solid;
    padding: 24px 24px 8px 24px;
}

.content{
    padding: 24px 24px 16px;
}

.details {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}

.icon {
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    background: var(--main-blue);
    border-radius: 50%;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 18px;
}

.ownerName{
    composes: largeItemTitle from '@styles/style.css';
    font-weight: 600;
    color: var(--main-text)
}

.ownerEmail {
    composes: mediumItemTitle from '@styles/style.css';
}

.description{
    composes: mediumItemTitle from '@styles/style.css';
    color: var(--main-text);
    line-height: 21px;
    margin-bottom: 11px;
    height: 63px;
}

.contentBottom{
    display: flex;
    justify-content: space-between;
}
.members{
    display: flex;
}

.avatar{
    width: 20px;
    height: 20px;
}

.photo {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

.avatar:not(:first-child)  {
    margin-left: -10px;
}

.avatar{
    background-color: #F0EEFF;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}

.avatarLeftMembers{
    height: 20px;
    width: 20px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.15;
}
.leftMembers{
    /* position: absolute; */
    color: #4C6FFF;
    font-weight: 500;
    font-size: 8px;
    line-height: 10px;
    filter: brightness(0.85);
}

.moreBtn{
    display: flex;
    flex-direction: column;
    gap: 3px;
    width: 18px;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
}
.moreBtn:hover{
    /* border-radius: 4px; */
    /* scale: 1.2; */
    transition: all .2s ease;
}
.moreBtn > div {
    background-color: var(--main-text);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}
.moreBtn:hover > div{
    background-color: var(--main-green);
}

/* modal */
.modal {
    top: unset;
    bottom: 25px;
    padding: 4px;
    width: 120px;
    border-radius: 10px;
}
.item{
    padding: 10px;
    border-radius: 7px;
    cursor: pointer;
}
.itemWrapper {
    display: flex;
    text-align: center;
    align-items: center;
    gap: 4px;
    width: 100%;
    color: var(--main-text);
}

.item:hover{
    background-color: var(--item-hover);
}

.itemTitle{
    font-weight: 500;
    composes: mediumItemTitle from '@styles/style.css';
    color: var(--main-text);
}


@media only screen and (max-width: 768px) {
    .title{
        padding: 16px 16px 9px;
    }
    .content{
        padding: 16px;
    }
}

@media only screen and (max-width: 400px) {
    .description{
        height: unset;
        min-height: 63px;
    }
}
