.operationCard {
    composes: cardComponent from "@styles/style.css";
    display: flex;
    width: 255px;
}
.inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}

.title{
    composes: smallItemTitle from "@styles/style.css";
    margin-bottom: 4px;
}

.amount {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    min-width: 120px;
    color: var(--main-text);
}

.top{
    display: flex;
    flex-direction: row;
}

.icon{
    display: flex;
    height: 46px;
    width: 46px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    background: var(--main-green);
    border-radius: 50%;
}
.info{
    display: flex;
    flex-direction: column;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 18px;
}

.percent{
    display: inline-block;
    border-radius: 6px;
    padding: 3px 10px;
}

.percent span {
    color: var(--main-green);
    font-weight: 700;
    font-size: 10px;
    line-height: 16px;
}
.bottom {
    display: flex;
    flex-direction: row;
    max-width: 150px;
    align-items: center;
    gap: 10px;
    margin-top: 18px;
    margin-right: auto;
}

.time{
    font-weight: 500;
    font-size: 10px;
    line-height: 16px;
    color: var(--text);
}
.loader{
    height: 120px;
}
@media only screen and (max-width: 1440px) {
    .operationCard {
        width: 100%;
    }
}

@media only screen and (max-width: 1028px) {
    .inner {
        padding: 16px;
    }
    .amount{
        min-width: 0
    }
}
@media only screen and (max-width: 768px) {
    .bottom{
        margin-top: 8px;
    }
    .loader{
        height: 110px;
    }
}