/* [data-light-color="red"]{
    --color: var(--main-red)
}
[data-light-color="blue"]{
    --color: var(--main-blue)
}
[data-light-color="green"]{
    --color: var(--main-green)
}
[data-light-color="purple"]{
    --color: var(--main-purple)
}
[data-light-color="orange"]{
    --color: var(--main-orange)
} */

.lightSolid{
    display: inline-block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
} 


.lightHollow {
    display: inline-block;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border-style: solid;
    border-width: 4px;
    background-color: transparent;
}