.OperationBody{
    margin: 0px 30px;
}
.AmountInput{
    width: 100%;
    display: flex;
    flex-direction: column;
}
.inputWrapper{
    margin-top: 10px;
}
.title{
    color: var(--text);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}
.DescriptionInput{
    margin-top: 16px;
}
.confirmBtnWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
