.expenseChart {
    max-width: 510px;
    min-width: 450px;
    max-height: 300px;
    display: flex;
    flex-basis: 510px;
    composes: cardComponent from "@styles/style.css";
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--main-text)
}

.secondaryTitle {
    font-size: 16px;
    line-height: 19px;
    color: var(--text);
}

.inner {
    width: 100%;
    min-width: 400px;
    max-height: 300px;
    padding: 24px 32px 25px;
}

.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 24px;
}

.chart {
    position: relative;
    max-width: 200px;
    max-height: 200px;
}

.chartAmount {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -33%);

    font-weight: 600;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-text);

    z-index: 1;
}

.expenseInfo {
    color: var(--main-text);
}

.expenseTitle {
    composes: secondaryTitle;
    margin-bottom: 2px;
}

.expensePercent {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
}

.expenseAmount {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.info {
    width: 130px;
    display: flex;
    margin-right: 32px;
    margin-left: 16px;
    flex-direction: column;
    gap: 14px;
}


.viewMore {
    margin-top: 7px;
    color: var(--main-text);
}

.viewMore:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}

@media only screen and (max-width: 400px) {
    .expenseChart{
        max-width: 400px;
        
    }
    .wrapper{
        flex-direction: column;
    }    
    .inner{
        padding: 0px;
    }
}