.expenseChart {
    display: inline-block;
    composes: cardComponent from "@styles/style.css";
    max-width: 510px;
    max-height: 300px;
    flex-basis: 510px;
    position: relative;
}

.title {
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    color: var(--main-text)
}

.secondaryTitle {
    font-size: 16px;
    line-height: 20px;
    color: var(--text);
}

.inner {
    padding: 24px 32px 25px;
}

.wrapper {
    display: flex;
    margin-top: 9px;
}


.chart {
    position: relative;
    width: 215px;
    height: 215px;
    margin-left: -11px;
}

.expenseInfo {
    color: var(--main-text);
    margin-bottom: 14px;
}

.expenseTitle {
    composes: secondaryTitle;
}

.expensePercent {
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    margin-bottom: 10px;
}

.expenseAmount {
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
}

.info {
    margin-left: 50px;
}


.viewMore {
    margin-top: 7px;
    color: var(--main-text);
}

.viewMore:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}


.closeBtn i {
    font-size: 28px;
    display: flex;
}

.chartList{
    min-width: 146px;
}

.popupList{
    min-width: 146px;
    overflow-y: scroll;
    max-height: 96px;
    margin: -4px -8px;
    padding: 4px 8px;
}

@media only screen and (max-width: 400px) {
    .expenseChart{
        max-width: 400px;
        
    }
    .wrapper{
        flex-direction: column;
    }    
    .inner{
        padding: 0px;
    }
}