.expenseChart {
    composes: cardComponent from "@styles/style.css";
    width: 510px;
    height: 300px;
    position: relative;
    grid-row-start: span 2;
}

.title {
    composes: cardTitle from "@styles/style.css";
}

.inner {
    padding: 24px 32px 25px;
}

.wrapper {
    display: flex;
    margin-top: 9px;
}

.chart {
    position: relative;
    width: 215px;
    height: 215px;
    margin-left: -11px;
}

.expenseInfo {
    color: var(--main-text);
    margin-bottom: 14px;
}

.expenseTitle {
    composes: mediumItemTitle from "@styles/style.css";
}

.expensePercent {
    composes: largeText from "@styles/style.css";
    margin-bottom: 13px;
}

.expenseAmount {
    composes: mediumItemTitle from "@styles/style.css";
    font-weight: 600;
    color: var(--main-text);
}

.info {
    margin-left: 50px;
}


.viewMore {
    composes: largeItemTitle from "@styles/style.css";
    margin-top: 7px;
    color: var(--main-text);
}

.viewMore:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}

.closeBtn i {
    font-size: 28px;
    display: flex;
}

.chartList{
    min-width: 146px;
}

.popupList{
    min-width: 146px;
    overflow-y: scroll;
    max-height: 96px;
    margin: -4px -8px;
    padding: 4px 8px;
}
@media only screen and (max-width: 1440px) {
    .expenseChart {
        width: unset;
        min-width: 400px;
    }
    .wrapper {
        column-gap: 30px;
    }
    .info {
        margin-left: 0;
    }
}
@media only screen and (max-width: 1028px) {
    .expenseChart {
        min-width: unset;
        height: 100%;
    }
    .inner {
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    .wrapper {
        flex: 1 0 50%;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        display: flex;
        
    }
    .chart{
        height: 180px;
        width: 180px;
        flex: 0 1 50%
    }

    .expensePercent {
        font-size: 28px;
        line-height: 36px;
    }
    .expenseAmount {
        font-size: 12px;
        line-height: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .inner {
        padding: 16px;
    }
    .popupList{
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 400px) {
    .chart {
        height: 150px;
        width: 150px;
    }
}

        