.contextModal{
    top: 100px;
    right: 5px;
    width: 280px;
    border-radius: 10px;
    padding: 8px;
}

.List{
    display: flex;
    flex-direction: column;
}

.Link{
    font-weight: 500;
    color: var(--main-text);
    composes: smallItemText from '@styles/style.css';
}
.item{
    padding: 10px;
    border-radius: 7px;
}
.item:hover{
    background-color: var(--item-hover);
}
