.Header{
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin: 0px 30px;
}
.modal__wrapper{
    margin: 0 30px;
}
.Header h3{
    margin-left: 30px;
    color: var(--main-text);
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}
.closeBtn{
    margin-left: auto;
}
.line{
    margin: 25px 0px 24px;
    border-bottom: 1px solid var(--text);
}

.title{
    color: var(--text);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.inputWrapper{
    margin-top: 10px;
}
.textAreaGroup{
    margin-top: 6px;
}
.textAreaWrapper{
    margin-top: 10px;
}
.pickBody{
    height: 120px;
    padding: 16px 0px;
    display: flex;
    flex-wrap: wrap;
    background-color: var(--color-picker);
}
.pickBody > div {
    margin-left: 12px;
}
.colorPicked{
    width: 24px;
    height: 24px; 
    border-radius: 100%;
}

.confirmBtnWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}
.Icon{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--main-text);
}

@media only screen and (max-width: 768px) {
    .modal__wrapper{
        max-width: 510px;
        margin: 0 auto;
        padding: 0 15px;
    }
}