.expenseChart__wrapper{
    composes: cardComponent from "@styles/style.css";
    /* max-width: 1080px; */
    min-height: 480px;
    /* width: 1080px; */
    display: flex;
    flex-direction: column;
    padding: 24px 32px;

    grid-column-start: span 2;
}

.chart__uppernav{
    max-width: 500px;
    max-height: 65px;
    flex-basis: 200px;
    display: flex;
    flex-direction: row;
}
.chart__titleRange{
    display: flex;
    flex-basis: 200px;
    flex-direction: column;
}
.title{
    composes: cardTitle from "@styles/style.css";
}
.range{
    composes: mediumItemTitle from "@styles/style.css";
    font-weight: 500;
    
    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
}

.chartinner__wrapper {
    max-width: 1015px;
    max-height: 320px;
    flex-basis: 1015px;
    display: flex;
    margin-top: 45px;
}
.chartinner__wrapper h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--text);
}
.chartinner__wrapper i {
    color: var(--text);
}

@media only screen and (max-width: 1440px) {
    .expenseChart__wrapper {
        order: 1;
    }
}
@media only screen and (max-width: 400px) {
    .expenseChart__wrapper{
        padding: 12px;
    }
    .chartinner__wrapper {
        max-height: 160px;
        max-width: calc(100% - 24px);
    }
}