.expenseChart__wrapper {
    composes: cardComponent from "@styles/style.css";
    min-height: 480px;
    display: flex;
    flex-direction: column;
    padding: 24px 32px;

    grid-column-start: span 2;
}

.chart__uppernav {
    display: flex;
    flex-direction: row;
}

.chart__titleRange {}

.title {
    composes: cardTitle from "@styles/style.css";
}

.range {
    composes: mediumItemTitle from "@styles/style.css";
    font-weight: 500;

    display: flex;
    align-items: center;
    letter-spacing: 0.0016em;
}

.chartinner__wrapper {
    max-width: 1015px;
    max-height: 320px;
    margin-top: 45px;
}

.chartinner__wrapper h3 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: var(--text);
}

.chartinner__wrapper i {
    color: var(--text);
}

@media only screen and (max-width: 1440px) {
    .expenseChart__wrapper {
        order: 1;
    }
}

@media only screen and (max-width: 768px) {
    .expenseChart__wrapper {
        grid-column-start: span 1;
        padding: 16px;
        min-height: auto;
        order: 2;
        height: 330px;
    }
    .chartinner__wrapper {
        margin-top: 21px;
        min-height: 234px;
        max-height: 234px;
    }
}

@media only screen and (max-width: 400px) {
    .chartinner__wrapper {
        margin-top: 15px;
    }
}