.header{
    margin: 14px 0px 0px 0px;
    display: flex;
    align-items: center;
    gap: 56px;
}

.title{
}

.grid {
    max-width: 1514px;
    margin: 30px auto;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    column-gap: 30px;
}

.grid__topleft{
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

.grid__operation{
    display: flex;
    gap: 30px;
}

.grid__topright {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media only screen and (max-width: 1440px) {
    .grid {
        max-width: 1090px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr)
    }
    .grid__topleft,  .grid__operation, .grid__topright {
        gap: 20px;
    }
}

@media only screen and (max-width: 1028px) {
    .grid__operation{
        flex-wrap: wrap;
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: minmax(0,500px);
        margin: 20px auto;
    }
    .header{
        gap: 0;
        flex-direction: column;
    }

    .title{
        width: 100%;
        text-align: left;
    }
}

