.item {
    composes: item from "@pages/Dashboard/UserGroupsCard/UserGroupsCard.module.css";
    background: linear-gradient(var(--shadow-color) 0 0) no-repeat;
    background-size: 0%;
    border-radius: 7px;
}
.itemInner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    gap: 5px;
    margin-bottom: 5px;
}
.expenseName {
    composes: smallItemTitle from "@styles/style.css";
}

.icon {
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    background: var(--main-green);
    border-radius: 50%;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 18px;
}
