.viewMore__wrapper{
    overflow: auto;
}


.modal__wrapper {
    margin: 0 30px;
}

/* list content */
.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.specialCategoriesItem {}

.specialGroupsItem {
    height: unset !important;
    padding-bottom: 5px;
}

.specialGroupsItem h6 {
    order: -1;
    margin-top: unset;
    margin: 0px !important;
}

.specialGroupsItem div {
    margin-top: unset;
}

/* media */
@media only screen and (max-width: 768px) {
    .modal__wrapper {
        max-width: 510px;
        margin: 0 auto;
        padding: 0 15px;
    }

    .list {
        gap: 8px;
    }
}