/* modal */
.Header{
    display: flex;
    flex-direction: row;
    overflow: visible;
    margin: 0px 30px;
}
.ModalTitle{
    margin-left: 30px;
    composes: pageTitle from "@styles/style.css";
    font-weight: 500;
}
.modal__wrapper {
    margin: 0 30px;
}
.Icon {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: var(--main-text);
}
.closeBtn{
    margin-left: auto;
}
.line{
    margin: 25px 0px 24px;
    border-bottom: 1px solid var(--text);
}
/* list content */
.list {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    flex: 1 0 auto;
}

.dashed {
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 43px;
    height: 43px;
    border: 3px dashed var(--text);
    border-radius: 50%;
    background-color: transparent;
    color: var(--text);
}
.item {
    width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    gap: 5px;
}

.item:hover {
    background-size: 100%;
    cursor: pointer;
}
.itemTitle {
    composes: smallItemTitle from "@styles/style.css";
}

.dashed i {
    -webkit-text-stroke: 1.5px;
}

.specialItem .itemTitle {
    margin-top: 4px;
}

.specialItem:hover>* {
    color: var(--main-text);
    border-color: var(--main-text);
}


/* media */
@media only screen and (max-width: 768px) {
    .modal__wrapper {
        max-width: 510px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .dashed {
        width: 39px;
        height: 39px;
    }

    .list {
        gap: 8px;
    }
}