.DesktopNotifications{
    width: 440px;
    height: 460px;
    position: absolute;
    padding: 16px;
    top: 100px;
    right: 80px;
    z-index: 9999;
    composes: cardComponent from "@styles/style.css"
}
.TitleInvitesBlock{
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--main-text);
}
.inviteLi{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.inviteForm{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.InviteGroupRef{
    font-weight: 600;
    color: rgba(78, 125, 150, 1);
    text-decoration: underline;
}
.InviteGroupRef:hover {
    color: var(--main-red);
}
.buttonGroup{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Promo{
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
}
.ViewMore {
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.ViewMore__inner{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(78, 125, 150, 1);
}
.ViewMore__title{
    composes: largeItemTitle from "@styles/style.css";
    font-size: 20px;
    color: rgba(78, 125, 150, 1);
}
.ViewMore__inner:hover{
    text-decoration: underline;
}
.ArrowRight{
    fill: rgba(78, 125, 150, 1);
    font-size: 20px;
}

.in {
    animation: fadeIn 0.5s;
    opacity: 1
}
  
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.out {
    animation: fadeOut 0.5s;
    opacity: 0
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}