.notficationsModal{
    top: 100px;
    right: 260px;
    width: 456px;
}
.inviteList{
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 360px;
}
.inviteLi{
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
}
.inviteForm{
    width: 100%;
    display: flex;
    gap: 15px;
    justify-content: space-between;
}
.inviteForm img{
    border-radius: 50%;
}
.InviteGroupRef{
    font-weight: 600;
    color: rgba(78, 125, 150, 1);
    text-decoration: underline;
}
.InviteGroupRef:hover {
    color: var(--main-red);
}
.buttonGroup{
    display: flex;
    align-items: center;
    gap: 5px;
}
.Promo{
    font-weight: 400;
    font-size: 16px;
    color: var(--text);
}
.noNotifications {
    text-align: center;
    margin-bottom: 10px;
}

.noNotifications > i{
    font-size: 50px;
    color: var(--main-text);
    display: flex;
    justify-content: center;
}

.noNotifications__title {
    composes: mediumText from "@styles/style.css";
    margin: 10px 0 5px;
}

.noNotifications__text {
    composes: largeItemTitle from "@styles/style.css";
}
.ViewMore {
    margin-top: 10px;
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}
.ViewMore__inner{
    display: flex;
    align-items: center;
    gap: 10px;
    color: rgba(78, 125, 150, 1);
}
.ViewMore__title{
    composes: largeItemTitle from "@styles/style.css";
    font-size: 20px;
    color: rgba(78, 125, 150, 1);
}
.ViewMore__inner:hover{
    text-decoration: underline;
}
.ArrowRight{
    fill: rgba(78, 125, 150, 1);
    font-size: 20px;
}

.in {
    animation: fadeIn 0.5s;
    opacity: 1
}

.loaderWrapper {
    height: 181px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.refreshButtonWrapper{
   display: flex;
   justify-content: center;
   margin-top: 26px; 
}

.refreshButton{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    padding: 7px 30px;
    
    border-radius: 7px;
    background-color: var(--refetch-btn);
    color: var(--main-text);

    cursor: pointer;
    transition: all .3s ease;
}
.refreshButton:hover{
    background-color: var(--refetch-btn-hover);
}
.btnText{
    composes: smallText from '@styles/style.css';
    font-weight: 500;
}
@keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

.out {
    animation: fadeOut 0.5s;
    opacity: 0
}
  
@keyframes fadeOut {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-50px);
    }
}

@media only screen and (max-width: 768px) {
    .notficationsModal{
        display: none;
    }
}