.infoCard{
    composes: cardComponent from '@styles/style.css';
    width: 540px
}

.inner{
    display: flex;
    justify-content: space-between;
    padding: 24px;
    gap: 20px;
}

.expensesCard{ 
    box-shadow: none;
    background: none;
    width: unset;
}
.expensesCard > div {
    padding: 0;
}

.avatar {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.photo {
    height: 100%;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.user {
    display: flex;
    flex-direction: column;
    width: 50%;

    flex: 1;
    min-width: 0;
}

.personal__data {
    margin-top: 10px;
    flex: 1;
    min-width: 0;
    text-align: center;
}


.name {
    composes: largeText from "@styles/style.css";
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.email {
    composes: largeItemTitle from "@styles/style.css";
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.expensesCount {
    display: flex;
    flex-direction: column;
    padding: 16px 24px;
}

.title {
    composes: smallItemTitle from "@styles/style.css";
    margin-bottom: 4px;
}

.subtitle{
    composes: smallItemTitle from "@styles/style.css";
    font-weight: 500;
}

.numberTitle {
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
    min-width: 120px;
    color: var(--main-text);
}

.cardsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.cardInner{
    /* display: flex;
    flex-direction: column;*/
} 
        
.top {
    display: flex;
    margin-bottom: 4px;
}

.icon {
    display: flex;
    height: 46px;
    width: 46px;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    background: var(--main-green);
    border-radius: 50%;
}

.info {
    display: flex;
    flex-direction: column;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 18px;
}

 @media only screen and (max-width: 1440px) {
    .infoCard{
        width: unset;
    }
}

 @media only screen and (max-width: 1028px) {
    .avatar {
        width: unset;
        height: 150px;
    }
    .name {
        font-size: 28px;
        line-height: 32px;
    }
 }

