.page__container {
    margin-top: 22px;
    margin-bottom: 30px;
}

.pageTop {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pageTitle {
    composes: pageTitle from "@styles/style.css";
}

.pageTitle span {
    font-weight: 400;
    font-size: 24px;
    line-height: 18px;
    color: var(--text)
}

.groups{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
    gap: 30px;
    margin-top: 38px;
}

/* loader */
.loaderWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
}

.noItems {
    text-align: center;
    margin-top: 5%;
    grid-column: 1/-1;
}

.noItems__title {
    composes: mediumText from "@styles/style.css";
    margin: 10px 0 5px;
}

.noItems__text {
    composes: largeItemTitle from "@styles/style.css";
}

@media only screen and (max-width: 768px) {
    .page__container {
        margin-top: 14px;
    }
}

@media only screen and (max-width: 400px) {
    .pageTitle{
        margin-bottom: 20px;
    }
    .pageTop{
        display: block;
    }
    .addButton {
        width: 100% !important; 
    }
    .groups {
        grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
}
