.AccountCard{
    composes: cardComponent from "@styles/style.css";
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.inner {
    padding: 24px 32px;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.title{
    composes: cardTitle from "@styles/style.css";
}
.avatar{
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.photo{
    height: 100%;
    width: 100%
}

.user{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.personal__data{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    flex: 1;
}

.user__info{
    text-align: center;
}
.name{
    composes: largeText from "@styles/style.css";
}
.email{
    composes: largeItemTitle from "@styles/style.css";
    font-weight: 500;
}

.balance {
    margin-top: auto;
    text-align: left;
}
.balance h5{
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    color: var(--main-text);
    white-space: nowrap;
}
.balance .value{
    font-weight: 600;
    font-size: 32px;
    line-height: 37px;
}
.red {
    color: var(--main-red);
}
.green {
    color: var(--main-green);
}

@media only screen and (max-width: 1440px) {
    .AccountCard {
        margin-left: 0;
    }
    .avatar {
        margin: 0;
    }
    .user {
        flex-direction: row
    }
    .personal__data {
        margin-left:40px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }

    .balance, .user__info, .personal__data {
        margin-top: 0;
        text-align: unset;
    }

    .AccountCard .avatar{
        width: 150px;
        height: 150px;
    }
    .info__wrapper{
        padding: 32px 0px;
        justify-content: space-between;
    }

    .info__wrapper .balance h5{
        font-size: 18px;
        line-height: 22px;
    }

    .info__wrapper.value{
        font-size: 24px;
        line-height: 29px;
    }
    .info__wrapper .name{
        font-size: 24px;
        line-height: 40px;
    }
    .loader{
        height: 238px;
    }
}

@media only screen and (max-width: 1028px) {
    .user{
        flex-wrap: wrap;
        column-gap: 21px;
    }

    .balance h5 {
        font-size: 22px;
        line-height: 27px;
    }

    .personal__data {
        margin-left: 0;
        flex: 1 0 50%;
        row-gap: 20px;
       
    }

    .user{
        justify-content: center;
        text-align: center;
    }
    .balance {
        text-align: left;
    }
}
@media only screen and (max-width: 863px) {
    .loader {
        height: 380px;
    }
}
@media only screen and (max-width: 768px) {
    .AccountCard{
        display: none;
    }
}