.CategoriesPage__container {
    margin-top: 22px;
}

.pageTitle {
    composes: pageTitle from "@styles/style.css";
}

.CategoriesNav {
    width: 100%;
}

.line {
    width: 100%;
    border-bottom: 1px solid var(--border-input);
}
.groupsNavWrapper{
    display: flex;
    align-items: center;
    
}

.groupsNav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 1;
    position: relative;
    margin-top: 38px;
    /* padding-bottom: 18px; */
    border-bottom: 1px solid var(--border-input);
}

.groupsNav .inputItem{
    display: none;
}

.groupNavItem{
    flex: 1;
    min-width: 0px;
}
.groupTitle {
    composes: largeText from '@styles/style.css';
    display: block;
    width: 100%;
    height: 60px;
    padding-left: 15px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
   

    opacity: 0.7;
    transition: all .1s ease;
    cursor: pointer;   
}

.inputItem:checked + .groupTitle {
    position: relative;
    color: var(--main-text);
    opacity: 1;
}
.groupsNav .groupTitle:hover {
    opacity: 1;
}

@media (hover: none) {
    .groupsNav button:hover {
        color: var(--main-text);
    }
}

.inputItem:checked+label::after {
    position: absolute;
    content: "";
    bottom:0px;
    left: 0;
    box-shadow: 0px 0px 8px var(--main-green);
    right: 0;
    background-color: var(--main-green);
    height: 2px;
    border-radius: 2px;
    animation: activeLinkAfterAnimation .3s ease-in-out;
}

.groupModalWrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.groupsModalNav .groupNavItem {
    display: flex;
    align-items: center;
}

.groupsModalNav .inputItem {
    width: 0;
    position: fixed;
}

.groupsModalNav .groupTitle {
    border: 1px solid var(--main-text);
    color: var(--main-text);

    border-radius: 6px;
    padding: 8px 40px 8px 14px;

    font-size: 20px;
    line-height: 24px;
    cursor: pointer;
}

.groupsModalNav .inputItem:checked+.groupTitle,
.groupsModalNav .groupTitle:hover {
    background: var(--main-text);
    color: var(--filter-btn);
}

.groupsModalNav .inputItem:checked+label::after {
    height: 0;
}

.groupMoreButton {
    /* display: inline-block; */
    margin-left: 20px;
}

.moreBtn {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    gap: 3px;
    width: 18px;
    align-items: center;
    justify-content: center;
    transition: all .2s ease;
    cursor: pointer;
}

.moreBtn:hover {
    transition: all .2s ease;
}

.moreBtn>div {
    background-color: var(--main-text);
    width: 4px;
    height: 4px;
    border-radius: 50%;
}

.moreBtn:hover>div {
    background-color: var(--main-green);
}

.addCategory {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 22px;
}

.addCategory .upSide {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.CategoryTitle {
    margin-left: 10px;
    color: rgba(155, 171, 197, 1);
    composes: cardTitle from "@styles/style.css";
}

.CategoriesBox {
    padding: 12px;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
}

/* loader */
.loaderWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
}

/* empty state */
.noItems {
    text-align: center;
    margin-top: 5%;
    grid-column: 1/-1;
}
.noItems i {
    font-size: 50px;
    color: var(--main-text);
}
.noItems__title {
    composes: mediumText from "@styles/style.css";
    margin: 10px 0 5px;
}
.noItems__text {
    composes: largeItemTitle from "@styles/style.css";
}

.browseBtn{
    margin-top: 10px;
    display: inline-block;
}

@media only screen and (max-width: 1440px) {
    .CategoriesBox {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 768px) {
    .CategoriesBox {
        grid-template-columns: repeat(1, 1fr);
    }

    .CategoriesPage__container {
        margin-top: 14px;
    }

    .groupTitle{
        padding-left: 5px;
        height: 40px;
    }
}

@keyframes activeLinkAfterAnimation {
    from {
        width: 2px;
        opacity: 0;
    }

    to {
        width: 100%;
        opacity: 1;
    }
}