.modal__wrapper {
    margin: 0 30px;
}

.text{
    font-size: 24px;
    line-height: 26px;
    color: var(--text);
    font-weight: 400;
    text-align: center;
}

.name {
    color: var(--main-text);
    font-weight: 700;
    display: inline-flex;
    line-height: 39px;
    max-height: 39px;
    word-break: break-word;
    overflow: hidden;
    text-overflow: ellipsis
}
.selectorWrapper{
    display: inline-block;
    width: 150px;
    position: relative;
}
.selectorWrapper::after{
    position: absolute;
    content: '';
    display: block;
    border-style: solid;
    border-width: 6px 5px 0px 5px;
    border-color: var(--main-text) transparent transparent transparent;

    top: calc(50% - 3px);
    right: 10px;
    z-index: 1;
    pointer-events: none;
}
.select{
    /* Reset */
    appearance: none;
    border: 0;
    outline: 0;
    font: inherit;
    /* customize */
    background-color: var(--color-picker);
    font-size: 20px;
    line-height: 24px;
    width: 100%;
    padding: 3px 40px 3px 10px;

    border-radius: 7px;
    color: var(--text);
    cursor: pointer;

    overflow: hidden;
    text-overflow: ellipsis;
}
.select:focus{
    outline: 1px solid var(--main-green);
}
.option {
    color: inherit;
    background-color: var(--color-picker);
}
.option:checked{
    background-color: var(--item-hover);
}
  
.btnWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    gap: 16px;
}

@media only screen and (max-width: 768px) {
    .modal__wrapper {
        max-width: 510px;
        margin: 0 auto;
        padding: 0 15px;
    }

}

