.grid {
    max-width: 1514px;
    margin: 30px auto;
    display: grid;
    justify-items: stretch;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    column-gap: 30px;
}
.page__container{

}

@media only screen and (max-width: 1440px) {
    .grid {
        max-width: 1090px;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr)
    }
}

@media only screen and (max-width: 768px) {
    .grid {
        grid-template-columns: minmax(0, 500px);
        margin: 20px auto;
    }
}