.page__container {
    margin-top: 22px;
}

.pageTitle {
    composes: pageTitle from "@styles/style.css";
}


/* table */

.tableTitle {
    font-weight: 600;
    font-size: 21px;
    line-height: 27px;
    color: var(--main-text);
}

.tableText {
    font-weight: 500;
    font-size: 18px;
    line-height: 22px;
    color: var(--main-text);
}

.recentOperations__table {
    margin-top: 30px;
    width: 100%;
    padding-top: 30px;
    composes: cardComponent from "@styles/style.css";
}

.recentOperations__table thead th {
    height: 50px;
    vertical-align: middle;
}

.recentOperations__table tbody {
    text-align: center;
}

.recentOperations__table tbody td {
    height: 60px;
    border-bottom: 1px solid var(--border-input);
    vertical-align: middle;
    padding: 0px 30px;
    text-align: center;
}

.recentOperations__table tbody td:last-child {
    width: 50px;
}
.recentOperations__table tbody td:nth-child(4){
    width: 140px;
}

.recentOperations__table tbody tr:last-child td {
    border: none;
}
.amount{
    white-space: nowrap;
}
.itemTitle {
    display: inline-block;
    margin-left: 8px;
}
.wrapItem{
    white-space: nowrap;
}
.headerHover{
    cursor: pointer;
    user-select: none;
}
.counter{
    width: 160px;
}
#sortBtn{
    padding-left: 5px;
}

/* member */
.memberWrapper{
    display: flex;
    transition: all .3s ease;
}

.memberInfo{
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0;
    text-align: left;
}
.details {
    display: flex;
    align-items: center;
    gap: 10px;

    flex: 1;
    min-width: 0;
}

.icon {
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 18px;
}

.photo {
    width: 100%;
    height: 100%;
}

/* loader */
.loaderWrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    z-index: -1;
}
/* edit or remove buttons */
.editRemove {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    font-size: 20px;
    max-width: 50px;
    height: 100%;
}

.editRemove button {
    height: 100%;
    cursor: pointer;
    transition: all ease-in-out .2s;
}

.editButton:hover {
    color: var(--main-green);
}

.removeButton:hover {
    color: var(--main-red);
}
/* empty state */
.noItems {
    text-align: center;
    margin-top: 5%;
}
.noItems i {
    font-size: 50px;
    color: var(--main-text);
}
.noItems__title {
    composes: mediumText from "@styles/style.css";
    margin: 10px 0 5px;
}
.noItems__text {
    composes: largeItemTitle from "@styles/style.css";
}

.name, .email{
    composes: mediumItemTitle from '@styles/style.css';
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 280px;
}

.name {
    font-weight: 600;
    color: var(--main-text);
}

/* tooltip */
.tooltipWrapper {
    display: none;
    position: absolute;
}

.tooltip {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 8px;
    border-radius: 10px;
    transition: all 0.1s ease;
    pointer-events: none;
}

.tooltipHeader {
    font-size: 14px;
    font-weight: 300;
    color: #AFAFC6;
    margin-bottom: 5px;
}

.tooltipText {
    font-size: 16px;
    color: white;
}

/* media */

@media only screen and (max-width: 1028px) {
    .recentOperations__table tbody td {
        padding: 0 15px;
    }

    .tableText {
        font-size: 18px;
        line-height: 22px;
    }

    .tableTitle {
        font-size: 22px;
        line-height: 27px;
    }
}

@media only screen and (max-width: 768px) {
    .page__container {
        margin-top: 14px;
    }
    .recentOperations__table tbody td {
        padding: 0 3px;
    }
    .recentOperations__table tbody td:nth-child(2) {
        width: 100px;
    }
    .recentOperations__table tbody td:nth-child(4) {
        width: 70px;
    }

    .recentOperations__table {
        margin-top: 20px;
        padding-top: 20px;
    }

    .tableTitle {
        font-size: 18px;
        line-height: 22px;
    }
    .icon{
        width: 42px;
        height: 42px;
    }
    .memberInfo{
        font-size: 13px;
    }
    .tableText {
        font-size: 14px;
        line-height: 16px;
    }
    .counter {
        width: 120px;
    }
    .recentOperations__table tbody tr:not(:last-child) td:first-child {
        max-width: 0;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
    .editRemove {
        font-size: 18px;
        justify-content: unset;
    }
    #sortBtn {
        padding-left: 0px;
    }

    .recentOperations__table thead :nth-child(3) {
        display: none;
    }

    .recentOperations__table tbody td:nth-child(3) {
        display: none;
    } 
    
    .tooltipWrapper {
        display: block;
    }

}

@media only screen and (max-width: 400px) {
    .recentOperations__table thead :nth-child(3) {
        display: none;
    }

    .recentOperations__table tbody td:nth-child(3) {
        display: none;
    }

    .memberWrapper {
        width: unset;
    }
}