.item {
    display: flex;
    gap: 10px;
    align-items: center;
}
.item:hover{
    cursor: pointer;
}

.item:hover .itemTitle {
    color: var(--main-text)
}



.itemTitle {
    composes: largeItemTitle from "@styles/style.css";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media only screen and (max-width: 768px) {
    .item{
        gap: 5px;
    }
}