.ChartCard {
    position: relative;
}

.title {
    composes: cardTitle from "@styles/style.css";
    white-space: nowrap;
}

.inner {
    padding: 24px 32px 25px;
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    min-width: 0;
}

.wrapper {
    display: flex;
    margin-top: 9px;
}

.chart {
    position: relative;
    width: 215px;
    height: 215px;
    margin-left: -11px;
}

.chart canvas{
    -webkit-tap-highlight-color: transparent;
}
.expenseInfo {
    color: var(--main-text);
    margin-bottom: 14px;
    display: flex;
    flex-direction: column;
    min-width: 0;
}

.expenseTitle {
    composes: mediumItemTitle from "@styles/style.css";
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.expensePercent {
    composes: largeText from "@styles/style.css";
    margin-bottom: 13px;
}

.expenseAmount {
    composes: mediumItemTitle from "@styles/style.css";
    font-weight: 600;
    color: var(--main-text);
}

.info {
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    flex: 1;
    min-width: 0
}


.viewMore {
    composes: largeItemTitle from "@styles/style.css";
    margin-top: 7px;
    color: var(--main-text);
}

.viewMore:hover {
    text-decoration: underline 1px;
    cursor: pointer;
}

.closeBtn i {
    font-size: 28px;
    display: flex;
}

.chartList{
    margin-right: 16px;
}

.popupList{
    overflow-y: scroll;
    overflow-x: hidden;
    height: 92px;
    margin: -4px -8px 19px;
    padding: 4px 8px 0px; 
}

/* no expenses */
.noExpenses {
    text-align: center;
    margin: auto 0;
}

.noExpenses>i {
    font-size: 50px;
    color: var(--main-text);
    display: flex;
    justify-content: center;
}

.noExpenses__title {
    composes: mediumText from "@styles/style.css";
    margin: 10px 0 5px;
}

.noExpenses__text {
    composes: largeItemTitle from "@styles/style.css";
}
@media only screen and (max-width: 1440px) {
    .ChartCard {
        width: unset;
        min-width: 400px;
    }
    .wrapper {
        column-gap: 30px;
    }
    .info {
        margin-left: 0;
    }
}
@media only screen and (max-width: 1028px) {
    .ChartCard {
        min-width: unset;
        height: 100%;
    }

    .wrapper {
        flex: 1 0 50%;
        justify-content: center;
        align-items: center;
        column-gap: 0;
        display: flex;  
    }
    .chart{
        height: 180px;
        width: 180px;
        flex: 0 1 50%
    }

    .expensePercent {
        font-size: 28px;
        line-height: 36px;
    }
    .expenseAmount {
        font-size: 12px;
        line-height: 16px;
    }
}

@media only screen and (max-width: 768px) {
    .ChartCard{
        height: 250px;
    }
    .wrapper{
        margin-top: 12px;
    }
    .inner {
        padding: 16px;
    }
    .popupList{
        margin-bottom: 9px; 
    }
    .expensePercent {
        margin-bottom: 0;
    }
    .expenseInfo {
        margin-bottom: 5px;
    }
}

@media only screen and (max-width: 400px) {
    .chart {
        height: 160px;
        width: 160px;
    }
}

        