.GroupInfoCard{
    /* width: 374px; */
    composes: cardComponent from '@styles/style.css';
    grid-row-start: span 2;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
}

.inner {
    padding: 24px 32px;
    height: 100%;
}

.adminEditButton{
    position: absolute;
    cursor: pointer;
    top: 1;
    z-index: 3000;
    left: 1;
    font-size: 30px;
    line-height: 30px;
    color: var(--main-text);
    fill: var(--main-text);
}
.adminEditButton:active{
    color: var(--main-red);
    fill: var(--main-red);
}
.title {
    composes: cardTitle from "@styles/style.css";
    text-align: center;
}

.avatar {
    width: 180px;
    height: 180px;
    display: block;
    margin: 0 auto;
}

.photo {
    height: 100%;
    width: 100%
}
.icon {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background: var(--main-blue);
    border-radius: 50%;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 60px;
}

.group__info {
    margin-top: 10px;
    text-align: center;
    margin-bottom: 24px;
}

.details{
    display: flex;
    align-items: center;
    margin-top: 14px;
}
.detailItem{
    flex: 0 1 50%;
}

.detailNumber{
   composes: cardTitle from '@styles/style.css'
}

.detailTitle{
    composes: largeItemTitle from '@styles/style.css'
}

.description {
    composes: largeItemTitle from '@styles/style.css';
    color: var(--main-text);
    height: 100px;
    overflow-y: auto;
}
.loader{
    height: 100%;
}
@media only screen and (max-width: 1440px) {
    .GroupInfoCard{
        margin-left: 0;
        order: 1;
        grid-row-start: span 1;
    }
    .loader{
        height: 450px;
    }
}

@media only screen and (max-width: 768px) {
    .inner{
        padding: 16px;
    }
    .loader {
        height: 430px;
    }
}