.in{
	animation: inAnim .2s;
}
.out{
	animation: outAnim .2s;
}


@keyframes inAnim {
    0%{
        visibility: hidden;
        opacity: 0;
        transform: scale(1.1);
    }
    100%{
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes outAnim {
    0%{
        visibility: visible;
        opacity: 1;
        transform: scale(1);
    }
    100%{
        visibility: hidden;
        opacity: 0;
        transform: scale(1.1);
    }
}
