[data-theme="light"]{
  --loaderColor: #333333;
}
[data-theme="dark"]{
  --loaderColor: #F8F8FF;
}

.loaderLight {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#EBF4FF 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#EBF4FF);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 1s infinite linear;
}
.loaderDark{
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: 
    radial-gradient(farthest-side,#333333 94%,#0000) top/4px 4px no-repeat,
    conic-gradient(#0000 30%,#333333);
    -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
    animation:s3 1s infinite linear;
}
  
.loaderAuto{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: 
  radial-gradient(farthest-side,var(--loaderColor) 94%,#0000) top/4px 4px no-repeat,
  conic-gradient(#0000 30%,var(--loaderColor));
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}
.confirmButton{
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: 
  radial-gradient(farthest-side,#7A7A9D 94%,#0000) top/4px 4px no-repeat,
  conic-gradient(#0000 30%,#7A7A9D);
  -webkit-mask: radial-gradient(farthest-side,#0000 calc(100% - 4px),#000 0);
  animation:s3 1s infinite linear;
}

@keyframes s3{ 
  100%{transform: rotate(1turn)}
}