.modal__wrapper {
    margin: 0 30px;
}

.title{
    color: var(--text);
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
}

.inputWrapper{
    margin-top: 10px;
}
.pickBody{
    padding: 14px;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(12, minmax(24px, 1fr));
    grid-auto-rows: minmax(0, 1fr);
    background-color: var(--color-picker);
}

.colorPicked{
    width: 24px;
    height: 24px; 
    border-radius: 100%;
}

.confirmBtnWrapper{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
}

@media only screen and (max-width: 768px) {
    .modal__wrapper {
        max-width: 510px;
        margin: 0 auto;
        padding: 0 15px;
    }
    .pickBody{
        gap: 4px;
    }
}
@media only screen and (max-width: 400px) {
    .pickBody{
        grid-template-columns: repeat(auto-fit, minmax(24px, 1fr));
    }
}

