.header{
    width: 100%;
    height: 160px;
    border-bottom: 1px solid rgba(238, 238, 238, var(--opacity));
    z-index: 1000;
}
.header__container{
    padding-top: 30px;
    position: relative;
}
.header__top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.header__logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 300px;
}
.title{
    composes: pageTitle from "@styles/style.css";
}
.header__logo span{
    color: var(--main-green);
}

.header__profile{
    padding: 6px 20px 6px 25px;
    column-gap: 10px;
    height: 100%;

    display: flex;
    align-items: center;

    background-color: var(--cardbg);
    border-radius: 20px;
}

.header__profile img{
    width: 46px;
    height: 46px;
}
.profile__inner {
    display: flex;
    align-items: center;
    column-gap: 20px;
}   
.profile__name{
    composes: largeItemTitle from "@styles/style.css";
    color: var(--main-text);
    font-weight: 700;
    
} 
.profile__email {
    composes: mediumItemTitle from "@styles/style.css";
    letter-spacing: -0.4633px
}

.header__profile i {
    color: var(--text);
    font-size: 8px;
    cursor: pointer;
}

.header__notifications{
    display: flex;
    align-items:center;

    color: var(--text);
}
.header__notifications i{
    position: relative;
    cursor: pointer;
}
.header__notifications i::after{
    position: absolute;
    top: -6px;
    right: -6px;
    content: "";
    border-radius: 6px;
    width: 6px;
    height: 6px;
    background: var(--main-green);
    box-shadow: 0px 0px 10px var(--main-green);
	-webkit-animation: ping 1s ease-in-out infinite both;
	        animation: ping 1s ease-in-out infinite both;
}

.header__menu {
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 20px;
}

.breadcrumbs {
    position: absolute;
    bottom: -58px;
    left: 23%;
}

@media only screen and (max-width: 768px) {
    .header{
        display: none;
    }
}

@-webkit-keyframes ping {
    0% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1;
    }
    50% {
      -webkit-transform: scale(1.);
              transform: scale(1.);
      opacity: 0.5;
    }
    100% {
      -webkit-transform: scale(1.2);
              transform: scale(1.2);
      opacity: 1;
    }
  }
  @keyframes ping {
    0% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1;
      }
      50% {
        -webkit-transform: scale(1);
                transform: scale(1);
        opacity: 0.5;
      }
      100% {
        -webkit-transform: scale(1.2);
                transform: scale(1.2);
        opacity: 1;
      }
  }
