.HistoryCard{
    margin-left: 30px;
    position: relative;
    min-width: 0;
}
.inner{
    padding: 0 16px;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.title{
    composes: cardTitle from "@styles/style.css";
}
.HistoryCard ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}
.ViewMore {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    margin-top: 10px;
    margin-left: 46px;
}
.ViewMore__inner{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-text);
}
.ViewMore__title{
    composes: largeItemTitle from "@styles/style.css";
    color: var(--main-text);
}
.ViewMore__inner:hover{
    text-decoration: underline;
}
.ArrowRight{
    fill: var(--main-text);
    font-size: 16px;
}

.emptyList {
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    color: var(--main-text);
}

.emptyList i {
    font-size: 50px;
}

.emptyTitle {
    margin-top: 10px;
    composes: largeItemTitle from "@styles/style.css";
    color: var(--main-text);
}

@media only screen and (max-width: 1440px) {
    .HistoryCard{
        margin-left: 0;
        max-width: unset;
        flex-direction: column;
    }
    .HistoryCard ul{
        margin-top: 9px;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .HistoryCard ul > li {
        width: 200px;
    }
    .loader {
        height: 238px;
    }
}

@media only screen and (max-width: 1028px) {
    .HistoryCard ul {
        margin-top: 0;
        row-gap: 0px;
        column-gap: 20px;
        flex: 1 0 auto;
        flex-direction: column;
        height: 160px;
    }
    .HistoryCard ul>li {
        width: unset;
        flex: 1 0 40px;
    }
}
@media only screen and (max-width: 863px){
    .loader{
        height: 378px;
    }
}
@media only screen and (max-width: 768px) {
    .HistoryCard{
        order: 4;
    }
    .inner{
        padding: 0 16px;
    }
    .HistoryCard ul {
        height: max-content
    }
    .loader {
        height: 374px;
    }
}