.item {
    display: flex;
    gap: 10px;
    width: fit-content;
    align-items: center;
}
.item:hover{
    cursor: pointer;
}

.item:hover .itemTitle {
    color: var(--main-text)
}



.itemTitle {
    composes: secondaryTitle from '../UserExpenseCard/UserExpenseCard.module.css';
}

