.HistoryCard{
    /* width: 374px; */
    /* height: 480px; */
    margin-left: 30px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
}
.title{
    composes: cardTitle from "@styles/style.css";
}
.HistoryCard ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}

.ViewMore{
    margin-left: 30px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-text);
}
.ViewMore__title{
    composes: largeItemTitle from "@styles/style.css";
    color: var(--main-text);
}
.ViewMore:hover{
    text-decoration: underline;
}
.ArrowRight{
    fill: var(--main-text);
    font-size: 16px;
}

@media only screen and (max-width: 1440px) {
    .HistoryCard{
        margin-left: 0;
        max-width: unset;
        flex-direction: column;
    }
    .HistoryCard ul{
        margin-top: 12px;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
    }

    .HistoryCard ul > li {
        width: 200px;
    }
}

@media only screen and (max-width: 1028px) {
    .HistoryCard {
        padding: 0;
    }
    .HistoryCard ul {
        row-gap: 0px;
        column-gap: 21px;
    }
    .HistoryCard ul>li {
        width: unset;
        flex: 1 0 194px;
    }

}