.HistoryCard{
    margin-left: 30px;
    padding: 0 16px;
    display: flex;
    flex-direction: column;
    position: relative;
}
.title{
    composes: cardTitle from "@styles/style.css";
}
.HistoryCard ul{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 24px;
}
.ViewMore {
    position: absolute;
    content: '';
    bottom: 0px;
    left: 0;
    margin-top: 10px;
    margin-left: 30px;
}
.ViewMore__inner{
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--main-text);
}
.ViewMore__title{
    composes: largeItemTitle from "@styles/style.css";
    color: var(--main-text);
}
.ViewMore__inner:hover{
    text-decoration: underline;
}
.ArrowRight{
    fill: var(--main-text);
    font-size: 16px;
}

@media only screen and (max-width: 1440px) {
    .HistoryCard{
        margin-left: 0;
        max-width: unset;
        flex-direction: column;
    }
    .HistoryCard ul{
        margin-top: 13px;
        flex-wrap: wrap;
        justify-content: space-between;
        flex-direction: row;
        margin-bottom: 30px;
    }

    .HistoryCard ul > li {
        width: 200px;
    }
}

@media only screen and (max-width: 1028px) {
    .HistoryCard ul {
        margin-top: 0;
        row-gap: 0px;
        column-gap: 20px;
        flex: 1 0 auto;
        flex-direction: column;
        height: 160px;
    }
    .HistoryCard ul>li {
        width: unset;
        flex: 1 0 40px;
    }
}