.RecentOperationDashboardCard{
    padding: 3px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
}
.title{
    composes: mediumItemTitle from "@styles/style.css";
    color: var(--main-text);
    font-weight: 700;
}
.time{
    composes: mediumItemTitle from "@styles/style.css";
}
.amount{
    color: var(--main-red);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
}

@media only screen and (max-width: 1440px) {
}

@media only screen and (max-width: 1028px) {

}

@media only screen and (max-width: 400px) {
    .RecentOperationDashboardCard{
        max-width: 100%;
        flex-basis: 100%;
    }
}