.RecentOperationDashboardCard{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.RecentOperationGroupCard {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 10px;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.center{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    gap: 2px;
}
.title{
    composes: mediumItemTitle from "@styles/style.css";
    color: var(--main-text);
    font-weight: 700;
}

.memberInfo{
    display: flex;
    flex-direction: column;

    flex: 1;
    min-width: 0;
}
.time{
    composes: mediumItemTitle from "@styles/style.css";

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.amount{
    color: var(--main-red);
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    text-align: end;
}
.details {
    display: flex;
    align-items: center;
    gap: 10px;

    flex: 1;
    min-width: 0;
}

.icon {
    display: flex;
    height: 46px;
    width: 46px;
    justify-content: center;
    align-items: center;
    background: var(--main-blue);
    border-radius: 50%;
}

.icon i {
    display: flex;
    color: #fff;
    font-size: 18px;
}

.name {
    composes: mediumItemTitle from '@styles/style.css';
    font-weight: 600;
    color: var(--main-text);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category {
    display: flex;
    gap: 7px;
    align-items: center;
}
.categoryColor{
    width: 12px !important;
    height: 12px !important;
    border-width: 3px !important;
}


@media only screen and (max-width: 1440px) {
    .RecentOperationGroupCard{
        /* display: flex; */
    }
    .category{
        /* display: none; */
    }
}

@media only screen and (max-width: 1028px) {

}

@media only screen and (max-width: 400px) {
    .RecentOperationDashboardCard{
        max-width: 100%;
        flex-basis: 100%;
    }
}