.UserChart {
    composes: cardComponent from "@styles/style.css";
    width: 510px;
    height: 300px;
    grid-row-start: span 2;
}

/* .inner {
    padding: 16px 24px 5px 24px;
} */

.title {
    composes: cardTitle from "@styles/style.css";
}

@media only screen and (max-width: 1440px) {
    .UserChart {
        width: unset;
        min-width: 400px;
    }
}

@media only screen and (max-width: 1028px) {
    .UserChart {
        min-width: unset;
        height: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .UserChart {
        height: 250px;
    }
}