.ChartsCard {
    composes: cardComponent from "@styles/style.css";
    height: 300px;
    grid-column-start: span 2;
    display: flex;
    justify-content: space-between;
}
/* .inner{
    padding: 16px 24px 5px 24px;
}
.title{
    composes: cardTitle from "@styles/style.css";
} */

@media only screen and (max-width: 768px) {
    .ChartsCard {
        grid-column-start: span 1;
        height: 500px;
        flex-direction:column;
    }
}
/* @media only screen and (max-width: 768px) {
    .UserChart {
        height: 250px;
    }
} */