.ChartsCard {
    composes: cardComponent from "@styles/style.css";
    height: 300px;
    grid-column-start: span 2;
    display: flex;
    justify-content: space-between;
}

@media only screen and (max-width: 768px) {
    .ChartsCard {
        grid-column-start: span 1;
        height: 500px;
        flex-direction:column;
    }
}
