.groups {
    composes: cardComponent from "@styles/style.css";
    /* display: flex; */
    /* max-width: 510px; */
    /* min-width: 450px; */
    /* flex-basis: 510px; */
    max-height: 120px;
    /* width: 510px; */
}

.inner{
    width: 100%;
    padding: 14px 24px 7px 24px;
}

.title {
    composes: cardTitle from "@styles/style.css";
}

.categoryName{
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: var(--text)
}

.nav {
    display: flex;
    gap: 25px;
}

.nav i {
    color: var(--text);
}

.btn {
    display: flex;
    background-color: var(--btn-color);
    border-radius: 4px;
    padding: 6px 6px;
    align-items: center;
    cursor: pointer;
}

.btn i {
    font-size: 12px;
    height: 12px;
    -webkit-text-stroke: 1.5px;
    color: #858585;
}

.btn:hover:not(:disabled) i {
    color: var(--main-green)
}

.btn:active {
    background-color: var(--background);
}

.btn:disabled {
    opacity: 0.6;
    cursor: not-allowed;
}


.list{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.item {
    /* min-width: 65px; */
    max-width: 65px;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 0 auto;
    gap: 5px;
}

.item:hover {
    background-size: 100%;
    cursor: pointer;
}

.itemTitle {
    composes: listItemTitle from "@styles/style.css";
}

.specialItem:hover > * {
    color: var(--main-text);
    border-color: var(--main-text);
}

.dashed{
    margin-bottom: auto;
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;
    border: 3px dashed var(--text);
    border-radius: 50%;
    background-color: transparent;
    color: var(--text);
}

.dashed i{
    -webkit-text-stroke: 1.5px;
}

.wrapped {
   display: none;
}

.emptyList{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;

    margin-top: 30px;
}

.emptyList p{
    margin-bottom: 20px;
    color: var(--main-text);
}

@media only screen and (max-width: 1440px) {
    .groups {
        max-height: unset
    }
}

