.accordion {
    overflow: hidden;
    border-radius: 10px;
}
  
.accordionHeader {
    background-color: var(--filter-btn);
    display: flex;
    height: 44px;
    padding: 0px 16px;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    transition: background-color 0.3s;
}
.title{
    font-size: 16px;
    color: var(--main-text);
}
.chevron{
    transition: transform 0.3s;
    transform: rotate(0deg);
}
.accordionHeader.open .chevron {
    transform: rotate(180deg);
}

.accordionHeader.open {
    background-color: var(--filter-btn);
}
.accordionHeader.open .title{
    color: (--main-text)
} 

.accordionContent {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s;
}
.HeaderEnd{
    display: flex;
    gap: 16px;
    align-items: center;
}
.accordionContent.open {
    max-height: 120px; 
}
