.title {
    composes: pageTitle from "@styles/style.css";
}


.page__container{
    margin-top: 50px;
}
.page__center{
    text-align: center;
}
.title{
    composes: largeText from "@styles/style.css";
}
.subtitle{
    margin-top: 15px;
    composes: mediumText from "@styles/style.css";
    color: var(--text);
}

.contact__list{
    margin-top: 50px;
    display: flex;
    gap: 20px;
    justify-content: space-evenly;
}
.contact__item {
    composes: cardComponent from '@styles/style.css';
    max-width: 350px;
    width: 100%;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.contact__item:hover{
    box-shadow: rgba(0, 0, 0, 0.22) 0px 15px 15px;
    transform: translate3d(1px, -2px, 0px);
}
.contact__inner{
    padding: 24px;
}

.contact__title {
    composes: smallText from "@styles/style.css";
    font-weight: 500;
    margin: 20px 0 10px;
}

.contact__text{
    composes: largeItemTitle from "@styles/style.css";
    margin-bottom: 10px;
}
.contact__link{
    composes: mediumItemTitle from "@styles/style.css";
    font-weight: 600;
    color: var(--main-text);
    display: inline-flex;
    gap: 5px;
}
.contact__link:hover{
    text-decoration: underline;
}
.ArrowRight {
    fill: var(--main-text);
    transform: translateY(1px);
}

.faq{
    margin-top: 70px;
    text-align: center;
}

.faq__list{
    max-width: 700px;
    margin: 20px auto 0;
}
.faq__list ul li div {
    background-color: var(--cardbg);
}
.faq__text{
    composes: largeItemTitle from "@styles/style.css";
    padding: 14px;
    background-color: var(--color-picker);
    text-align: justify;
}
@media only screen and (max-width: 768px) {
    .contact__list{
        flex-direction: column;
    }
    .contact__item{
        max-width: unset;
    }
}